* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*header top*/
header {
  height: 400px;
  background-color: #0C325A;
  background-image: url("../img/background-header.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 106% 100%;
}

.container {
  width: 80%;
  margin: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.header-top::after {
  content:"";
  display: table;
  clear: both;
}

/*navigazione sx*/
.header-top {
  height: 70px;
  line-height: 70px;
}

.header-top-logo {
  float: left;
  width: 15%;
}

.header-top-logo img {
  vertical-align: middle;
}

.header-nav-left {
  float: left;
  width: 45%;
  padding-top: 5px;
  list-style: none;
  }

.header-nav-left li {
  display: inline-block;
  margin-left: 10px;
  line-height: 60px;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
/*navigazione dx*/
.header-nav-right {
  float: right;
  width: 40%;
  padding-top: 5px;
  color: #fff;
}

.header-nav-right li {
  display: inline-block;
  list-style: none;
  color: #fff;
  font-size: 14px;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
}

.btn {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 8px 10px;
  min-width: 80px;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  background-color: transparent;
}

.btn-green {
  background-color: #00ff00;
  border: none;
  padding: 8px 10px;
}

.btn-border-white {
  border: 2px solid #fff;
}
/*banner*/
.banner {
  position: relative;
  height: 400px;
}
.banner-text {
  position: absolute;
  top: 50%;
  left:0;
  transform: translateY(-50%);
  color: #fff;
}

.banner-text h1{
  font-size: 35px;
}
