* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*header top*/
header {
  height: 400px;
  background-color: #0C325A;
  background-image: url("../img/background-header.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}
body {
  font-family: 'Roboto', sans-serif;
}

.header-top-container {
  width: 90%;
  margin: auto;
}

.header-top-logo {
  float: left;
  width: 15%;
  padding-top: 5px;
}

.header-top-logo img {
  margin-left: 15%;
}

.header-top::after {
  content:"";
  display: table;
  clear: both;
}

/*navigazione sx*/
.header-nav-left {
  float: left;
  width: 50%;
  list-style: none;
  }

.header-nav-left li {
  display: inline-block;
  margin-left: 5px;
  line-height: 60px;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
/*navigazione dx*/
.header-nav-right {
  float: left;
  list-style: none;
  width: 35%;
}

.header-nav-right li {
  display: inline-block;
  margin-left: 5px;
  font-size: 14px;
  color: #fff;
  text-align: right;
  line-height: 60px;
  text-decoration: none;
  text-transform: uppercase;
}

.header-nav-right li .login{
  background-color: #0C325A;
  padding: 5px;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 2px;
}

.header-nav-right li .struttura {
  background-color: #00ff00;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  text-transform: uppercase;
  border: 2px solid #00ff00;
  border-radius: 2px;
}
/*banner*/
.banner-container {
  width: 40%;
}

.banner h1{
  color: #fff;
  margin-left: 10%;
  padding-top: 150px;
}
.banner .button {
  margin-left: 10%;
  margin-top: 10px;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #00ff00;
  border: 2px solid #00ff00;
  border-radius: 2px;
}
