* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*header top*/
header {
  height: 400px;
  background-color: #0C325A;
  background-image: url("../img/background-header.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 106% 100%;
}

.container {
  width: 80%;
  margin: auto;
}

clearfix::after {
  content:"";
  display: table;
  clear: both;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/*navigazione sx*/
.header-top {
  height: 70px;
  line-height: 70px;
}

.header-top-logo {
  float: left;
  width: 15%;
}

.header-top-logo img {
  vertical-align: middle;
  margin-bottom: 10px;
}

.header-top li a {
  color: #fff;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
}

.header-nav-left {
  float: left;
  width: 45%;
  padding-top: 5px;
  }

.menu-inline li {
  display: inline-block;
  margin-left: 10px;
  line-height: 60px;
  font-size: 14px;
}
/*navigazione dx*/
.header-nav-right {
  float: left;
  width: 40%;
  padding-top: 5px;
  color: #fff;
  text-align: right;
}

.header-nav-right li{
  display: inline-block;
  text-align: right;
  font-size: 14px;
  padding: 0 10px;
}


.btn {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 8px 10px;
  min-width: 80px;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  background-color: transparent;
}

.btn-green {
  background-color: #00ff00;
  border: none;
  padding: 8px 10px;
}

.btn-border-white {
  border: 2px solid #fff;
}
/*banner*/
.banner {
  position: relative;
  height: 400px;
}
.banner-text {
  position: absolute;
  top: 50%;
  width: 50%;
  transform: translateY(-50%);
  color: #fff;
  text-align: left;
}

.banner-text h1{
  font-size: 35px;
  margin-left: -25%;
}

.banner button {
  margin-left: -25%;
}

/*section*/
.grey {
  background-color: #d3d3d3;
  text-align: center;
  padding: 20px 0;
  line-height: 1.8;
}

.grey h3 {
  font-size: 30px;
}

.grey h4 {
  font-weight: 500;
  color: #888888;
}

/*Sezione info*/
.col-info {
  width: 33.33%;
  float: left;
  text-align: center;
}

.col-info .info-img {
  height: 150px;
  margin-top: 24px;
}

.info .col-info h3 {
  color: #7cbb02;
  font-size: 25px;
  margin-top: 20px;
}

.info .col-info hr {
  display: inline-block;
  width: 80px;
  margin: 20px 0;
}
